@model ProductoCliente.Model.Usuario

<h2>Iniciar sesión</h2>

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label for="mail" class="form-label">Email:</label>
        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
    <br />
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        <div>
            <a href="@Url.Action("Registro", "Usuario")" class="btn btn-secondary">Registrarse</a>
        </div>
    </div>
}